@model Domain.DTOModels.RequestActionCreateDto

<div class="modal-body">
    <form id="addActionForm">
        <input type="hidden" asp-for="RequestID" />
        <div class="mb-3">
            <label asp-for="Message" class="form-label">Mesaj</label>
            <input asp-for="Message" class="form-control" />
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Açıklama</label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Kaydet</button>
        </div>
    </form>
</div>

